<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakalog.main.mapper.SysHealthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kakalog.main.entity.SysHealth">
        <id column="uid" property="uid" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="height" property="height" />
        <result column="weightTarget" property="weightTarget" />
        <result column="bmi" property="bmi" />
        <result column="weightCurrent" property="weightCurrent" />
        <result column="weightLast" property="weightLast" />
        <result column="caloriesDaily" property="caloriesDaily" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, sex, age, height, weightTarget, bmi, weightCurrent, weightLast, caloriesDaily
    </sql>

</mapper>
