/* HEX */
$color1: #05668D;
$color2: #028090;
$color3: #00A896;
$color4: #02C39A;
$color5: #F0F3BD;

/* RGB */
$color1: rgb(5, 102, 141);
$color2: rgb(2, 128, 144);
$color3: rgb(0, 168, 150);
$color4: rgb(2, 195, 154);
$color5: rgb(240, 243, 189);

/* HSL */
$color1: hsl(197, 93%, 29%);
$color2: hsl(187, 97%, 29%);
$color3: hsl(174, 100%, 33%);
$color4: hsl(167, 98%, 39%);
$color5: hsl(63, 69%, 85%);

// 组件
// Lin UI： https://juzi214032.gitee.io/lin-ui-doc/component/
// TDesign: https://tdesign.tencent.com/miniprogram/components/

// 小tips
// 文本保留换行和回车
// style="white-space:pre-wrap"